//This tells express that this is an ejs template.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background:skyblue;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding:30px;color: #fff;
            }
        h1{
            font-size: 12px;
        }
    </style>
</head>
<body></body>
welcome to <%= person %>
    <h2>Hi, All the best.</h2>
  <h2>This is ejs file, be aware</h2>
</body>
</html>